<div class="">
    <div class="top-row pl-4 navbar navbar-dark container-fluid">
        <a class="navbar-brand" href="">Blog.BlazorApp</a>
        <button class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            @foreach (var item in navMenuList)
            {
                <NavLink class="nav-link" href="@(item.ItemHref)" Match="@(string.IsNullOrWhiteSpace(item.ItemHref)? NavLinkMatch.All:NavLinkMatch.Prefix)">
                    <span class="oi @(item.ItemIcon)" aria-hidden="true"></span> @(item.ItemName)
                </NavLink>
            }
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    /// <summary>
    /// 记录导航菜单内容
    /// （菜单项名，href）
    /// href 为空默认为主页  Match="NavLinkMatch.All"
    /// </summary>
    private List<NavMenuList> navMenuList = new List<NavMenuList>();

    protected override void OnInitialized()
    {
        navMenuList.Add(new NavMenuList { ItemName = "Home", ItemHref = "", ItemIcon = (OpenIconc.Home) });
        navMenuList.Add(new NavMenuList { ItemName = "Counter", ItemHref = "counter", ItemIcon = OpenIconc.Calculator });
        navMenuList.Add(new NavMenuList { ItemName = "Fetch data", ItemHref = "fetchdata", ItemIcon = OpenIconc.List });
        navMenuList.Add(new NavMenuList { ItemName = "Articles", ItemHref = "articles", ItemIcon = OpenIconc.Book });
        navMenuList.Add(new NavMenuList { ItemName = "Tags", ItemHref = "tags", ItemIcon = OpenIconc.Tags });
        navMenuList.Add(new NavMenuList { ItemName = "Editer", ItemHref = "editer", ItemIcon = OpenIconc.Pencil });
        navMenuList.Add(new NavMenuList { ItemName = "Timeline", ItemHref = "timeline", ItemIcon = BootstrapIcon.PUZZLE_FILL });
        //navMenuList.Add(new NavMenuList { ItemName = "SqlParser", ItemHref = "sqlparser", ItemIcon = BootstrapIcon.BICYCLE });
    }

    public class NavMenuList
    {
        private object _itemicon;
        public string ItemName { get; set; }
        public string ItemHref { get; set; }
        public object ItemIcon
        {
            get
            {
                return _itemicon switch
                {
                    OpenIconc o => o.GetIconClass().ToLowerInvariant(),
                    BootstrapIcon b => b.GetIconClass(),
                    _ => ""
                };
            }
            set
            {
                _itemicon = value;
            }
        }
    }

}
